.titulo-animado {
  color: #dbff5e;
  font-weight: bold;
  font-family: "Bitcount Prop Single", system-ui;
  font-style: normal;
  font-optical-sizing: auto;
}

.nav-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}
.nav-text a {
  color: #f9f16f;
}

/* version movil */

@media (max-width: 470px) {
  .icono_movil {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav-text {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav-text a {
    font-size: 18px;
  }
  .iconos_nav {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .icono_movil {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav-text {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav-text a {
    font-size: 18px;
  }
  .iconos_nav {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .icono_movil {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav-text {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
  .nav-text a {
    font-size: 18px;
  }
  .iconos_nav {
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}
