body {
  background-color: #1f2d40;
  color: #f9f16f;
}

body.dark-mode {
  background-color: #000000;
  color: #fff;
}

body.dark-mode a {
  color: #fff !important;
}
body.dark-mode h1 {
  color: #fff !important;
}
.titulo-animado {
  color: #dbff5e; /* Cambia este color por el que quieras */
  font-weight: bold;
  font-family: "Bitcount Prop Single", system-ui;
  font-style: normal;
  font-optical-sizing: auto;
}

.nav-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
}
.nav-text a {
  color: #f9f16f;
}

.img-circle {
  width: 250px;
  height: 250px;
  border-radius: 60%;
  object-fit: cover;
}

.img-circle:hover {
  transform: scale(1.07) rotate(-2deg);
}

.text-exp {
  color: #ffffff;
  font-size: 20px;
}

/* Efecto LED para el texto-exp */
.text-exp {
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  text-shadow:
    0 0 8px #00ffe7,
    0 0 16px #00ffe7,
    0 0 24px #00ffe7,
    0 0 32px #00ffe7;
  animation: ledGlow 1.5s infinite alternate;
}

@keyframes ledGlow {
  0% {
    text-shadow:
      0 0 8px #00ffe7,
      0 0 16px #00ffe7,
      0 0 24px #00ffe7,
      0 0 32px #00ffe7;
  }
  100% {
    text-shadow:
      0 0 16px #ff00c8,
      0 0 32px #ff00c8,
      0 0 48px #ff00c8,
      0 0 64px #ff00c8;
  }
}

.code-title {
  font-family: "Fira Mono", "Consolas", monospace;
  font-size: 2.5rem;
  /* color: #fff; */
  background: #232136;
  padding: 0.5em 1em;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 2px 16px #0002;
}

.code-brace {
  color: #82aaff;
  font-weight: bold;
}

.code-key {
  color: red;
  font-weight: bold;
}

body.dark-mode .code-title {
  background-color: #cfcfcf;
}

/* carta */

.carta-section {
  background-color: #ffffff;
  border-radius: 10px;
  color: #000000;
  max-width: auto;
  max-height: auto;
  border: 2px solid #000000;
}

.carta-section {
  transition: transform 0.2s, box-shadow 0.2s;
}
.carta-section:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 8px 32px #0003;
}
